<!--
  Copyright (c) 2015, 2020, Oracle and/or its affiliates.
  The Universal Permissive License (UPL), Version 1.0

<p><oj-bind-text value="[[messageText]]"></oj-bind-text></p>
-->
<form>
  <h1> Manager </h1>
  <p>
    <label for="fname">Email</label>
    <input type="text" id="fname" name="fname" ><br><br>
    <label for="lname">Name</label> 
    <input type="text" id="lname" name="lname" ><br>
  </p>
  
  <h1> Teammitglied </h1>
    <p> 
      <label for="fname">Email</label>
      <input type="text" id="fname" name="fname" ><br><br>
      <label for="lname">Name</label> 
      <input type="text" id="lname" name="lname" ><br>
</p>

  <h1> Bestätigung </h1>
    <p>
      <input type="checkbox" >
      <label > angegebene eMail-Adresse gespeichert werden darf</label><br>
      <input type="checkbox" >
      <label > Bestätigen der Datenschutzhinweis</label><br> <br>
  </p>

    <input type="submit" value="Board erstellen"> 

</form>


